{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4" style="padding-top: 30px;">
    <h2>Doctors</h2>
    <a href="{% url 'add_doctor' %}" class="btn btn-success">Add Doctor</a>
</div>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Specialization</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.specialization }}</td>
                <td>{{ doctor.phone }}</td>
                <td>{{ doctor.email }}</td>
                <td>
                    <a href="{% url 'edit_doctor' doctor.pk %}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{% url 'delete_doctor' doctor.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No doctors available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

